body {
  font-family: "Bebas Neue", sans-serif !important;
}

nav.navbar {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

nav.navbar-dark-transparent {
  background: rgba(0, 0, 0, 0.5);
}

button > span.navbar-toggler-icon {
  color: white !important;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 1.5rem !important;
}

.dropdown-menu {
  border: none !important;
  min-width: 20rem !important;
  border-radius: 4px !important;
}

.border-right {
  border-right: 2px solid #5b5b5c;
}

.py-base {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
}

header.py-base.main-bg {
  background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    /* url("../images/main-bg.jpg"); */
    url('../public/assets/images/main-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.main-bg h1.main-bg-title {
  font-size: 72px;
  color: #fff;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

header.main-bg h3.main-bg-subtitle {
  letter-spacing: 3px;
  margin-bottom: 5rem;
  font-size: 24px;
}

.btn.btn-xl {
  background: linear-gradient(
    194.68deg,
    #ffb548 11.27%,
    #f3af34 90.4%
  ) !important;
  padding: 1.25rem 2.25rem;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 260px;
  border-radius: 4px;
}

.main-bg-the-story {
  font-size: 12px;
  text-transform: uppercase;
}

.icon-the-story {
  width: 20px;
  height: 10px;
}

section.py-base.the-games {
  background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    ),
    url("../public/assets/images/the-games-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

section.py-base.the-games div.carousel-button {
  display: flex !important;
  align-items: center !important;
}

.carousel-indicators [data-bs-target] {
  background-color: transparent !important;
  border: 1.30637px solid #fff !important;
  border-radius: 50%;
  width: 14px !important;
  height: 14px !important;
  margin-right: 14px !important;
  margin-left: 14px !important;
}

.carousel-indicators .active {
  background-color: #fff !important;
}

span.carousel-control-prev-icon {
  background-image: line-through;
}

section.the-games h3.the-games-subtitle,
section.game-choice h3.game-choice-subtitle,
section.subscribe h1.subscribe-subtitle {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

section.the-games h1.the-games-title,
section.game-choice h1.game-choice-title,
div.requirements-title,
section.top-score h1.top-score-title {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

section.py-base.game-choice {
  background: radial-gradient(
      51.1% 80.48% at 30.85% 53.65%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.520671) 47.48%,
      #080a0b 99.74%
    ),
    url("../public/assets/images/features_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.accordion-indicator {
  border: 1.30637px solid #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 14px;
}

.accordion-indicator.deactive {
  background-color: transparent;
}

.accordion-indicator.active {
  background-color: #fff;
}

.accordion-item {
  background-color: transparent !important;
  border: none !important;
}

.accordion-button {
  background-color: transparent !important;
  color: #ffb548 !important;
  font-size: 1.5rem;
  box-shadow: none !important;
}

.accordion-body {
  color: white;
  font-weight: 300 !important;
  padding: 1.5rem 22px !important;
}

.accordion-line {
  border-left: 2.5px solid white;
  height: 100%;
  margin-left: 25.5px;
  margin-top: -21px;
  margin-bottom: -20.5px;
}

.accordion-line-last {
  border-left: 3px solid transparent;
  height: 100%;
  margin-left: 25.5px;
  margin-top: -30px;
  margin-bottom: -20.5px;
}

.accordion-button:not(.collapsed)::after {
  background-image: none !important;
}

.accordion-button::after {
  background-image: none !important;
}

section.py-base.requirements {
  background: radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url("../public/assets/images/requirements.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.table-requirements-title {
  color: #ffb548 !important;
}
.table-bordered {
  width: 573.2px;
  height: 400.69px;
  border-color: #4b4b4b !important;
  border: 1px solid;
}

section.subscribe {
  padding-top: 10rem;
  padding-bottom: calc(7rem - 4.5rem);
  background-color: black;
  margin-bottom: -10px;
}

section.subscribe h1.subscribe-title {
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

section.subscribe .subscribe-footer {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

section.py-base.top-score {
  background: radial-gradient(
      78.66% 177.87% at 19.56% 37.57%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url("../public/assets/images/top-score-bg-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

section.top-score h3.top-score-subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.text-orange {
  color: #ffb548 !important;
}

form-floating {
  position: relative;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  color: #6c757d !important;
}

.form-floating > input.form-control {
  background-color: #212529 !important;
  border: 0;
  box-shadow: none !important;
}
@media (prefers-reduced-motion: reduce) {
  .form-floating > label {
    transition: none;
  }
}
.form-floating > .form-control {
  padding: 1rem 0.75rem;
}
.form-floating > .form-control::-moz-placeholder {
  color: transparent;
}
.form-floating > .form-control:-ms-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::placeholder {
  color: transparent;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-ms-input-placeholder) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  color: #ffb548 !important;
}
.form-floating > .form-control:-webkit-autofill {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-select {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.bg-footer {
  background-color: black !important;
}

.bg-black {
  background-color: #000;
}

.bg-footer-card {
  border-top: 2px solid;
  border-color: #212529 !important;
}

.avatar-top-score {
  position: relative;
}

.avatar-bg {
  width: 64.31px;
  height: 64.31px;
  border-radius: 50%;
  right: 10%;
  background-color: #ffb548;
}

.avatar {
  position: absolute;
  width: 64.31px;
  height: 64.31px;
  border-radius: 50%;
}

div.copyright {
  font-size: 0.875em;
  color: #6c757d !important;
}

div.disclaimer {
  color: #fff !important;
  text-transform: uppercase;
  text-align: right;
  font-size: 12px;
}

@media only screen and (max-width: 299px) {
  nav.navbar {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
  }

  .navbar-collapse {
    background-color: #343a40;
    margin-top: 1.5rem;
    border-radius: 10px;
    margin-bottom: 992px;
  }

  header.main-bg {
    height: 70vh;
    min-height: 20rem;
    padding-top: 2.5rem;
    padding-bottom: 0;
  }

  .dropdown-menu {
    border: none !important;
    min-width: 10rem !important;
    border-radius: 4px !important;
  }

  .border-right {
    border-right: none !important;
  }

  header.main-bg h1.main-bg-title {
    font-size: 25px;
    margin-bottom: 1rem;
  }

  header.main-bg h3.main-bg-subtitle {
    font-size: 15px;
    margin-bottom: 3rem;
    letter-spacing: 1.5px;
  }

  .btn.btn-xl {
    background: linear-gradient(
      194.68deg,
      #ffb548 11.27%,
      #f3af34 90.4%
    ) !important;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    width: 150px;
    border-radius: 4px;
  }

  .main-bg-the-story {
    font-size: 8px;
    text-transform: uppercase;
  }

  .icon-the-story {
    width: 16px;
    height: 8;
  }

  section.the-games {
    height: 30vh;
    min-height: 15rem;
    padding-top: 1.5rem;
    padding-bottom: 5%;
  }

  section.the-games h3.the-games-subtitle,
  section.game-choice h3.game-choice-subtitle,
  section.top-score h3.top-score-subtitle,
  section.subscribe h3.subscribe-subtitle {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: center !important;
  }

  section.the-games h1.the-games-title,
  section.game-choice h1.game-choice-title,
  section.top-score h1.top-score-title {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
  }

  section.py-base.the-games div.carousel-button {
    display: none !important;
  }

  section.game-choice,
  section.requirements {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  section.game-choice div.accordion {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 10px;
  }

  .accordion-button {
    font-size: 10px !important;
  }

  .accordion-body {
    font-weight: 150px !important;
    font-size: 8px;
  }

  .accordion-line {
    margin-top: -30px;
    margin-bottom: -20px;
  }

  section.requirement h3.requirements-subtitle {
    font-size: 10px;
    line-height: 8px;
    letter-spacing: 2px;
    text-align: center !important;
  }

  section.requirements div.requirements-title {
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
  }

  .table-bordered {
    font-size: 12px;
  }

  section.top-score .top-score-button {
    text-align: center !important;
    margin-bottom: 20px;
  }

  section.subscribe h1.subscribe-title {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
  }

  section.subscribe .subscribe-button {
    text-align: center !important;
  }

  section.subscribe p {
    font-size: 12px;
  }

  .subscribe-button .btn.btn-xl {
    width: 100%;
  }

  div.copyright {
    text-align: center !important;
    font-size: 12px;
  }

  div.disclaimer {
    text-align: center !important;
    font-size: 12px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 300px) {
  nav.navbar {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
  }

  .navbar-collapse {
    background-color: #343a40;
    margin-top: 1.5rem;
    border-radius: 10px;
    margin-bottom: 992px;
  }

  header.main-bg {
    height: 70vh;
    min-height: 20rem;
    padding-top: 2.5rem;
    padding-bottom: 0;
  }

  .dropdown-menu {
    border: none !important;
    min-width: 10rem !important;
    border-radius: 4px !important;
  }

  .border-right {
    border-right: none !important;
  }

  header.main-bg h1.main-bg-title {
    font-size: 25px;
    margin-bottom: 1rem;
  }

  header.main-bg h3.main-bg-subtitle {
    font-size: 15px;
    margin-bottom: 3rem;
    letter-spacing: 1.5px;
  }

  .btn.btn-xl {
    background: linear-gradient(
      194.68deg,
      #ffb548 11.27%,
      #f3af34 90.4%
    ) !important;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    width: 150px;
    border-radius: 4px;
  }

  .main-bg-the-story {
    font-size: 8px;
    text-transform: uppercase;
  }

  .icon-the-story {
    width: 16px;
    height: 8;
  }

  section.the-games {
    height: 50vh;
    min-height: 15rem;
    padding-top: 1.5rem;
    padding-bottom: 5%;
  }

  section.the-games h3.the-games-subtitle,
  section.game-choice h3.game-choice-subtitle,
  section.top-score h3.top-score-subtitle,
  section.subscribe h3.subscribe-subtitle {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: center !important;
  }

  section.the-games h1.the-games-title,
  section.game-choice h1.game-choice-title,
  section.requirements div.requirements-title,
  section.top-score h1.top-score-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
  }

  section.py-base.the-games div.carousel-button {
    display: none !important;
  }

  section.game-choice,
  section.requirements {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  section.game-choice div.accordion {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 10px;
  }

  .accordion-line {
    margin-top: -30px;
    margin-bottom: -20px;
  }

  section.requirements div.requirements-title,
  section.subscribe h1.subscribe-title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
  }

  section.top-score .top-score-button {
    text-align: center !important;
    margin-bottom: 20px;
  }

  section.subscribe .subscribe-button {
    text-align: center !important;
  }

  div.copyright {
    text-align: center !important;
  }

  div.disclaimer {
    text-align: center !important;
  }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
  nav.navbar {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
  }

  .navbar-collapse {
    background-color: #343a40;
    margin-top: 1.5rem;
    border-radius: 10px;
    margin-bottom: 992px;
  }

  header.main-bg {
    height: 50vh;
    min-height: 20rem;
    padding-top: 2.5rem;
    padding-bottom: 0;
  }

  .dropdown-menu {
    border: none !important;
    min-width: 10rem !important;
    border-radius: 4px !important;
  }

  .border-right {
    border-right: none !important;
  }

  header.main-bg h1.main-bg-title {
    font-size: 25px;
    margin-bottom: 1rem;
  }

  header.main-bg h3.main-bg-subtitle {
    font-size: 15px;
    margin-bottom: 3rem;
    letter-spacing: 1.5px;
  }

  .btn.btn-xl {
    background: linear-gradient(
      194.68deg,
      #ffb548 11.27%,
      #f3af34 90.4%
    ) !important;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    width: 150px;
    border-radius: 4px;
  }

  .main-bg-the-story {
    font-size: 8px;
    text-transform: uppercase;
  }

  .icon-the-story {
    width: 16px;
    height: 8;
  }

  section.the-games {
    height: 40vh;
    min-height: 15rem;
    padding-top: 1.5rem;
    padding-bottom: 5%;
  }

  section.the-games h3.the-games-subtitle,
  section.game-choice h3.game-choice-subtitle,
  section.top-score h3.top-score-subtitle,
  section.subscribe h3.subscribe-subtitle {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: center !important;
  }

  section.the-games h1.the-games-title,
  section.game-choice h1.game-choice-title,
  section.requirements div.requirements-title,
  section.top-score h1.top-score-title,
  section.subscribe h1.subscribe-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
  }

  section.py-base.the-games div.carousel-button {
    display: none !important;
  }

  section.game-choice div.accordion {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 10px;
  }

  section.top-score .top-score-button {
    text-align: center !important;
    margin-bottom: 20px;
  }

  section.subscribe .subscribe-button {
    text-align: center !important;
  }

  div.copyright {
    text-align: center !important;
  }

  div.disclaimer {
    text-align: center !important;
  }
}

@media only screen and (width: 768px) {
  header.main-bg h1.main-bg-title {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  header.main-bg h3.main-bg-subtitle {
    font-size: 22px;
    letter-spacing: 1.5px;
  }

  div.subcribe-button .btn-xl {
    width: 190px;
  }

  header.main-bg .btn-xl {
    width: 30% !important;
  }

  section.the-games {
    height: 70vh;
    min-height: 15rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  section.game-choice {
    padding-top: 2.5rem;
  }

  section.top-score .top-score-button {
    margin-bottom: 35px;
  }

  section.top-score .btn-xl {
    width: 30% !important;
  }
}

@media only screen and (width: 1024px) {
  header.main-bg h1.main-bg-title {
    font-size: 50px;
    margin-bottom: 1rem;
  }
}
